<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="cookieFactory">
<head>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The Cookie Factory</title>
</head>

<body>

<div class="mainContainer"> 
    <div class="top">
        <form class="navbar-form" role="search" method="post" action="/login" id="loginForm" ng-controller="accountController" ng-show="showLoginForm">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Wachtwoord">
            </div>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
        <div ng-controller="accountController" ng-show="showWelcomeText" class="img-btn">
            <a href="/#/account" class="navbar-right">
                <img src="img/iconprofile.png" width="30px" height="30px">
            </a>
            <span class="navbar-text navbar-right">
                Welkom, {{account.firstName}}! <a ng-click="logout()" logout class="navbar-link">[Uitloggen]</a>
            </span>
        </div>
        <div ng-controller="cartController" class="navbar-right" style="margin-right: 5px;" class="img-btn">
            <a href="/#/cart">
                <img src="img/ShoppingCart.png" width="30px" height="30px">
            </a>
            <span class="badge" id="cartItemsNumber" ng-show="cartItems !== null">{{cartItems.length}}</span>
        </div>
    </div>
    <div class="header"></div>

     <div class="menu">
        <span style="margin-left:280px; line-height:38px;" data-ng-controller="menuController">
            <a ng-repeat="item in menuItems" href="{{item.url}}">{{item.name}}</a>
        </span>   
    </div>

    <div class="content">
        <br>
        <!-- Breadcrumb -->
        <div ncy-breadcrumb></div>

        <div ng-controller="messageController">
            <div class="alert alert-danger" role="alert" ng-show="showDanger"><p>{{message.error}}</p></div>
            <div class="alert alert-warning" role="alert" ng-show="showWarning"><p>{{message.warning}}</p></div>
            <div class="alert alert-info" role="alert" ng-show="showInfo"><p>{{message.info}}</p></div>
            <div class="alert alert-success" role="alert" ng-show="showSuccess"><p>{{message.success}}</p></div>
        </div>
            <% if (message.error) { %>
            <div class="alert alert-danger" role="alert"><p><%= message.error %></p></div>
            <% } else if (message.warning) { %>
            <div class="alert alert-warn" role="alert"><p><%= message.warning %></p></div>
            <% } else if (message.info) { %>
            <div class="alert alert-info" role="alert"><p><%= message.info %></p></div>
            <% } else if (message.success) { %>
            <div class="alert alert-success" role="alert"><p><%= message.success %></p></div>
            <% } %>

        <div data-ng-view=""></div>
        <p style="height:20px; width:500px; float:left; clear: both;"></p>
    </div>

    <div class="footer"> <a href="html/zoekresultaten.html"><span style="width:200px; height:30px; margin:90px 0 0 900px;">....</span></div>
</div>
<!-- Lib -->
<script src="./javascripts/lib/angular.min.js"></script>
<script src="./javascripts/lib/angular-route.min.js"></script>
<script src="./javascripts/lib/angular-resource.min.js"></script>
<script src="./javascripts/lib/jquery-1.11.3.min.js"></script>
<script src="./javascripts/lib/bootstrap.min.js"></script>
<script src="./javascripts/lib/angular-ui-router.js"></script>
<script src="./javascripts/lib/angular-breadcrumb.js"></script>
<!-- App -->
<script src="./javascripts/app.js"></script>
<!--Controllers-->
<script src="./javascripts/controllers/menuController.js"></script>
<script src="./javascripts/controllers/messageController.js"></script>
<script src="./javascripts/controllers/cookieController.js"></script>
<script src="./javascripts/controllers/cartController.js"></script>
<script src="./javascripts/controllers/userController.js"></script>
<script src="./javascripts/controllers/accountController.js"></script>
<script src="./javascripts/controllers/addressController.js"></script>
<script src="./javascripts/controllers/orderController.js"></script>
<!--Services-->
<script src="./javascripts/services.js"></script>
</body>
</html>
