<h2>Nieuw Adres</h2>
<form name="creatAddress">
	<div class="form-group row">
		<label class="col-md-2" for="streetName">Straatnaam:</label>
		<input class="col-md-5" type="text" class="form-control" data-ng-model="address.street" placeholder="Voer uw straatnaam in">
	</div>
    <div class="form-group row">
		<label class="col-md-2" for="streetName">Huisnummer:</label>
		<input class="col-md-5" type="text" class="form-control" data-ng-model="address.streetNumber" placeholder="Voer uw huisnummer in">
	</div>
    <div class="form-group row">
		<label class="col-md-2" for="streetName">Postcode:</label>
		<input class="col-md-5" type="text" class="form-control" data-ng-model="address.zipCode" placeholder="Voer uw postcode in">
	</div>
    <div class="form-group row">
		<label class="col-md-2" for="streetName">Plaatsnaam:</label>
		<input class="col-md-5" type="text" class="form-control" data-ng-model="address.city" placeholder="Voer uw plaatsnaam in">
	</div>
    <button type="button" data-ng-click="save()" id="saveBtn" class="btn btn-success">Save</button>
</form>