<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <h3>Mijn account</h3>
            <hr />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Gebruikersnaam</th>
                        <td>{{account.username}}</td>
                    </tr>
                    <tr>
                        <th>Naam</th>
                        <td>{{account.firstName}} {{account.inserts}} {{account.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Geboortedatum</th>
                        <td>{{account.dateOfBirth}}</td>
                    </tr>
                    <tr>
                        <th>Email Adres</th>
                        <td>{{account.emailAddress}}</td>
                    </tr>
                    <tr>
                        <th>Datum geregistreerd</th>
                        <td>{{account.creationDate}}</td>
                    </tr>
                </tbody>
            </table>
            <a href="/#/account/edit" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span> 
                Accountgegevens aanpassen
            </a> 
        </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <div class="row">
            <h3>Mijn opgeslagen adressen</h3>
            <hr />
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Adres</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="address in account.addresses">
                        <td>
                            {{address.street}} {{address.streetNumber}}<br />
                            {{address.zipCode}} {{address.city}}
                        </td>
                        <td>
                            <a ng-click="updateAddress(address._id)" class="btn btn-warning">
                                <span class="glyphicon glyphicon-glyphicon-pencil"></span> 
                                Aanpassen
                            </a>
                            <a href="#" class="btn btn-danger" ng-click="onRemoveClicked(address._id)">
                                <span class="glyphicon glyphicon-trash"></span>
                                Verwijder
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/#/account/address/add" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> 
                Nieuw adres toevoegen
            </a>
        </div>
    </div>
</div>

<div class="row">
    <!-- TODO: orders laten zien -->
</div>