<h2>User</h2>
<form name="userForm">
    <p>Voornaam: <input type="text" data-ng-model="account.firstName"></p>

    <p>Tussenvoegsel: <input type="text" data-ng-model="account.inserts"></p>

    <p>Achternaam: <input type="text" data-ng-model="account.lastName"></p>

    <p>Geboortedatum: <input type="text" data-ng-model="account.dateOfBirth"></p>

    <p>Email adres: <input type="text" data-ng-model="account.emailAddress"></p>

    <button type="button" ng-click="update(account, event)" id="saveBtn">Save</button>
</form>