swagger: '2.0'
info:
  title: CRIA CookieFactory
  description: CRIA Groep 9.
  version: "1.0.0"
# the domain of the service
host: server3.tezzt.nl
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /api
produces:
  - application/json
paths:
  /account:
    get:
      summary: Get current logged in user
      description: Fetch information about the currently logged in user.
      tags:
        - Account
      responses:
        200:
          description: A single instance of the account.
          schema:
            $ref: '#/definitions/Response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Response'
    post:
      summary: Register Account
      description: Register a new account.
      tags:
        - Account
      responses:
        200:
          description: A single instance of the account that was registered.
          schema:
            $ref: '#/definitions/Response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Response'
  /account/signout:
    post:
      summary: Sign out the currently active user.
      description: Logs out the currently active user both session and cookie will be cleared.
      tags:
        - Account
      responses:
        200:
          description: Default response with no doc body.
          schema:
            $ref: '#/definitions/Response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Response'
definitions:
  Response:
    properties:
      meta:
        type: object
        $ref: '#/definitions/meta'
      doc:
        type: object
        $ref: '#/definitions/account'
      err:
        type: object
        description: The error information.
  meta:
    properties:
      action:
        type: string
        description: The action in the controller.
      timestamp:
        type: string
        description: The date and time on which the request was made.
      filename:
        type: string
        description: The name of the file from which the request was completed.
  account:
    properties:
      _id:
        type: integer
        description: The unique identifier.
      username:
        type: string
        description: Login name of the user.
      firstName:
        type: string
        description: The first name.
      lastName:
        type: string
        description: The last name.
      inserts:
        type: string
        description: The inserts of the user, such as "van" or "de"
      emailAddress:
        type: string
        description: The email address of the user.
      addresses:
        type: array
        items:
          type: object
          $ref: '#/definitions/address'
      dateOfBirth:
        type: string
        description: The date of birth
  address:
    properties:
      _id:
        type: integer
        description: The unique identifier.
      street:
        type: string
        description: The name of the street.
      streetNumber:
        type: string
        description: The number of the street.
      zipCode:
        type: string
        description: The postal code of the address.
      city:
        type: string
        description: The name of the city.