# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: CRIA CookieFactory
  description: CRIA Groep 9
  version: "1.0.0"
# the domain of the service
host: server3.tezzt.nl
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /api
produces:
  - application/json
paths:
  /cookies:
    get:
      summary: Cookies Types
      description: Retrieve a list of all Cookies.
      parameters:
        - name: cookieid
          in: query
          description: The id of the cookie
          required: false
          type: number
          format: double
      tags:
        - Cookies
      responses:
        200:
          description: An array of Cookies
          schema:
            $ref: '#/definitions/CookieResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CookieResponse'
    post:
      summary: Create cookie
      description: Create a new Cookie.
      tags:
        - Cookies
      responses:
        200:
          description: The new cookie.
          schema:
            $ref: '#/definitions/CookieResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CookieResponse'
    put:
      summary: Update Cookie.
      description: Update a single Cookie.
      parameters:
        - name: cookieid
          in: query
          description: The id of the cookie.
          required: false
          type: number
          format: double
      tags:
        - Cookies
      responses:
        200:
          description: The update the user.
          schema:
            $ref: '#/definitions/CookieResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CookieResponse'
    delete:
      summary: Delete Cookie.
      description: Delete a single Cookie.
      parameters:
        - name: cookieid
          in: query
          type: integer
          format: int32
          description: The id of the cookie.
      tags:
        - Cookies
      responses:
        200:
          description: Ok.
          schema:
            $ref: '#/definitions/CookieResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CookieResponse'
definitions:
  CookieResponse:
    properties:
      meta:
        type: object
        $ref: '#/definitions/meta'
      doc:
        type: object
        $ref: '#/definitions/Cookie'
      err:
        type: object
        description: The error information.
  meta:
    properties:
      action:
        type: string
        description: The action in the controller.
      timestamp:
        type: string
        description: The date and time on which the request was made.
      filename:
        type: string
        description: The name of the file from which the request was completed.
  Cookie:
    properties:
      name:
        type: string
        description: Name of a cookie.
      creator:
        type: string
        description: Creator of a cookie.
      layers:
        $ref: '#/definitions/Layer'
      creationDate:
        type: string
        description: Creation date of a cookie
      modificationDate:
        type: string
        description: Modification date of a cookie
  Layer:
    properties:
      name:
        type: string
        description: Name of a layer.
      required:
        type: boolean
        description: Creator of a layer.
      sequence:
        type: number
        description: Sequence of a layer.
      options:
        $ref: '#/definitions/LayerOption'
      imageSrc:
        type: string
        description: Image source of a layer
      creationDate:
        type: string
        description: Creation date of a layer
      modificationDate:
        type: string
        description: Modification date of a layer
  LayerOption:
    properties:
      name:
        type: string
        description: Name of a layer option.
      sequence:
        type: number
        description: Sequence of a layer option.
      description:
        type: string
        description: Description of a layer option.
      price:
        type: string
        description: Price of a layer option.
      imageSrc:
        type: string
        description: Image source of a layer option.
      creationDate:
        type: string
        description: Creation date of a layer option.
      modificationDate:
        type: string
        description: Modification date of a layer option.
