/* Custom CSS
-------------------------------------------------- */

@font-face {
    font-family: GenerallySpeaking;
    src: url(../fonts/GenerallySpeaking.ttf);
}

@font-face{
	font-family:VAGrounded;
	src: url(../fonts/VAGRoundedStd-Light.otf);
	}
	

body {
    padding-top: -8px;
    font-family: 'Open Sans', sans-serif;
	color:#745a33;
	background:url(../img/bgbody.png) repeat;
}

.topicons{background-color:#000; width:22px; height:22px;}




.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color:#ed6655;
  border:none;
}


.designCookie h1 {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}

.breadcrumb {
  border-radius: 4px;
  width:100%;
  background-color: #fcf5bf;
  font-size:9px;
  color:#786741 !important;
  text-transform: uppercase;
  padding-right:30px;
}

.breadcrumb a {
	text-decoration:none !important;
	color:#745a33;}

.breadcrumb a:hover {
	text-decoration:underline !important;
	color:#745a33;}

.introtext {
	position: relative;
    width:90%;
    height: 206px;
	color:#745a33 !important;
	margin:auto;
	background-size: cover;
    overflow: hidden;}
	

	
.introtext h1 {color:#745a33;
	font-family:GenerallySpeaking;
	font-size:60px;
	line-height:40px;
	margin:0 0 0 50px;}
	
h1 {font-family:VAGrounded;
	font-size:30px;
	color:#745a33;
	margin-left:30px;}


	
/*  Design cookie   */


.optionsCookie{
	list-style-type:none;
	float:left;
	margin:0;}
	
.cookieDesign {
	float:left;
	position:relative;
	background: #ecfaf3;
	border:2px #5eb299 solid;
	width:600px;
	margin-left:15px;
	background-repeat:no-repeat;
	overflow:hidden;
	height:466px;
	}

.choiceContainer{
	float:left;
	margin:10px 30px 0 30px;
	display:inline-block;}

.choiceContainer span{
margin-top:5px;
list-style-type:none;}
	
.choiceContainer h1 {font-family:VAGrounded;
	font-size:25px;
	color:#745a33 !important;
	}

/* overlay keuze */
.choiceBox {
	border:1px #745a33 solid;
	margin-bottom:5px;
	width:150px;
	height:90px;
	display: block;
	background-size:cover;
	cursor:pointer;}

	
.overlayChoice {
	background:url(../img/keuzes/hoverkeuzes.png);
 	opacity:0;
	width:150px;
	height:90px;
	position:absolute;
    -webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;}

.choiceBox:hover .overlayChoice{
		opacity:1;
			  }
.keuzeText{
color:#FFF;
position:absolute;
padding:40px 0 0 10px;
}

.choiceBox:hover .keuzeText {
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	font-weight:bold;
	text-decoration:none;}
	
.choiceSelect{background:url(../img/keuzes/keuzeSelect.png);
 	opacity:0.9;
	width:150px;
	height:90px;
	position:absolute;}

/*  overlay opties  */ 
.optionBox {
	border:none;
	cursor:pointer;
	width:222px;
	height:129px;
	background-size:cover;
}
	
.optionBox:hover .optionText {
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	color:#FFF;}
	
	
.overlayBox   {
	background:url(../img/optieHover.png);
    opacity:0;
	width:222px;
	height:129px;
	position:absolute;
    -webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;}

.optionBox:hover .overlayBox{
               opacity:0.9;
			   }

.optionText{
	color:#745a33;
	font-size:16px;
	padding:88px 0 0 40px;
	position:absolute;
	z-index:5;
	text-transform: uppercase;
	font-family:VAGrounded;}

.optionTextSelect{
	font-size:16px;
	padding:88px 0 0 40px;
	position:absolute;
	z-index:5;
	text-transform: uppercase;
	font-family:VAGrounded;
	color:#FFF;}

.optionSelect{background:url(../img/keuzes/optionSelect.png);
    opacity:0.9;
	width:222px;
	height:129px;
	position:absolute;
	color:#FFF !important;}

/* end options*/

.ruitButton{
	color:#5eb299;
	text-transform: uppercase;
	font-family:VAGrounded;
	font-size:13px;
	text-decoration:none;
	
	 }

.bedrag{
	font-family: 'Open Sans', sans-serif;
	color:#745a33;
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	margin-left:450px;}
	
.cookieLoad{
	width:350px;
	height:380px;
    overflow:hidden;
	margin:5px;
	padding-right:30px;}
	
.layers{position:absolute;}

.displayKeuze {
	z-index:10;
	position:absolute;
	margin:300px 0 0 35px;
	text-transform: uppercase;
	font-family:VAGrounded;
	padding:5px;
	text-decoration:none;
	cursor:pointer;}
	
.displayKeuze:hover{
	height:120px;
	width:200px;
	background:#FFF;
	color:#745a33;}

.displayKeuze:hover .displayDuurzaam{
	opacity:1;}


.displayDuurzaam{
	font-family: 'Open Sans', sans-serif;
	text-transform:none;
	font-size:11px;
	padding-left:5px;
	margin-top:-10px;
	z-index:11;
	opacity:0;
	position:absolute;}

.nextBtn {
	color:#745a33;
	text-transform: uppercase;
	font-family:VAGrounded;
	float:left;
	text-decoration:none;}
	

	
.nextBtn:hover {text-decoration:underline;}

.bestelBtn {color:#745a33;
	text-transform: uppercase;
	font-family:VAGrounded;
	text-decoration:none;
	margin:180px 0 0 180px;
	position:absolute;}
	
.bestelBtn:hover {text-decoration:underline;}
	
.brownBar{height:5px;
background:#745a33; 
float:left;
margin:7px 10px 0 30px;}

.nameCookieform, .nameCookie {
	margin:0 0 0 115px;
	line-height:20px;
	float:left;}
	
.nameCookie{
	border:1px #5eb299 solid;
	padding-left:5px;
	color:#5eb299;}
	
.knopSave{
	color:#5eb299;
	line-height:21px;
	text-transform: uppercase;
	font-family:VAGrounded;
	float:left;
	background:#FFF;
	border:none;}
	
.knopSave:hover {text-decoration:underline;
color:#3a5780;}

.zoekknop {
	text-transform: uppercase;
	font-family:VAGrounded;
	color:#fff;
	background:#5eb299;
	width:80px;
	line-height:30px;
	font-size:14px;
	text-align:center;}
	
.form-control{width:200px !important;}

<<<<<<< HEAD
.center {
	text-align: center;
}

.border {
	border: solid 2px #745a33;
	margin: 0 0 10px 0;
}
=======
>>>>>>> 716e63f19e4d7eeed263e4c35ab783e1319c49cd
