<h3>Winkelwagen</h3>
<hr />
<div ng-controller="cartController">
    <div ng-show="cartItems !== null && cartItems.length !== 0">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Naam koekje</th>
                    <th>Aantal</th>
                    <th>Totaal</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in cartItems">
                    <td>
                        <strong>{{item.cookie[0].name}}</strong> 
                        <a href="#" ng-click="editCartItem($index)"><span class="glyphicon glyphicon-pencil"></span></a><br />
                        <span ng-repeat="layer in item.cookie[0].layers">{{layer.name}}: <em>{{layer.options[0].name}}</em> ({{layer.options[0].price | currency: "€"}})<br /></span>
                    </td>
                    <td>
                        <input type="number" name="input" min="1" class="input-mini" ng-model="item.amountOfBoxes" ng-change="updateCartItem()"
                        ng-model-options="{debounce: 1000}">
                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="deleteCartItem($index)">
                            <span class="glyphicon glyphicon-trash"></span> 
                            Verwijder
                        </button>
                    </td>
                    <td>{{calculateCookiePrice(item.cookie[0]) | currency : "€"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>Subtotaal:</strong>
                    </td>
                    <td>{{subtotal | currency : "€"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>BTW (21%):</strong>
                    </td>
                    <td>{{tax | currency : "€"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>Totaal:</strong>
                    </td>
                    <td>{{total | currency : "€"}}</td>
                </tr>
            </tbody>
        </table>
        <a href="/#/cookie/design" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span> 
            Nieuw koekje ontwerpen
        </a>
        <div class="pull-right">
            <a ng-click="onProceedClicked($event)" class="btn btn-success">
                <span class="glyphicon glyphicon-shopping-cart"></span> 
                Afrekenen
            </a>
        </div>
    </div>
    <div class="alert alert-warning" ng-show="cartItems === null || cartItems.length === 0" role="alert">
        <p>Uw winkelwagen is leeg. <a class="alert=link" href="/#/cookies/design">Ontwerp een koekje</a> en voeg deze toe aan de winkelwagen om verder te gaan.</p>
    </div>
</div>