<h2>Betalen</h2>
<form>
	<div class="jumbotron">
	  	<div class="container">
 			<div class="radio">
  				<label>
    				<input type="radio" name="paymentType" id="home" value="30days" checked>
					<strong>Laten bezorgen thuis of op een ander adres</strong>
	  			</label>
			</div>
	  	</div>
	</div>
	<div class="jumbotron">
	  	<div class="container">
	  		<div class="radio">
  				<label>
    				<input type="radio" name="paymentType" id="home" value="IDeal" checked>
					<strong>Laten bezorgen thuis of op een ander adres</strong>
	  			</label>
			</div>
			<select class="form-control">
			  	<option>ING</option>
			  	<option>Rabobank</option>
			  	<option>ABN Amro Bank</option>
			  	<option>SNS Bank</option>
			  	<option>ANS Bank</option>
			</select>
	  	</div>
	</div>
</form>