<h2>Gegevens</h2>
<form name="orderDetails" ng-submit="ProceedToPayment()">

	<div ng-repeat="shipmentType in shipmentTypes" class="radio">
  		<label>
    		<input type="radio" name="shipmentType" id="shipmentType.id" value="shipmentType.id" ng-click="SetShipmentType(shipmentType.id)">
    		<strong>{{shipmentType.description}}</strong>
  		</label>
	</div>
	
	<h1>{{shipmentType}}</h1>
	
	<div class="form-group">
		<label for="shipment.shipmentDate">Bezorg datum</label>
  		<input class="form-control" ng-model="shipment.shipmentDate.date" name="shipment.shipmentDate" min="2015-01-01" max="2018-12-31" required placeholder="yyyy-MM-dd" />
	</div>
	<span class="error" ng-show="orderDetails.input.$error.required">
         Required!</span>
     <span class="error" ng-show="orderDetails.input.$error.date">
         Not a valid date!</span>
    </div>
	
	<h1>{{shipment.shipmentDate.date }}</h1> 
	  
	<div class="pull-right">
		<input class="btn btn-default" type="submit" id="submit" value="Afrekenen" />
	</div>
</form>