<h2>Gegevens</h2>
<form name="shipmentAddress">
	<div class="radio">
  		<label>
    		<input type="radio" name="deliveryType" id="Home" value="Home" checked>
			<strong>Laten bezorgen thuis of op een ander adres</strong>
	  	</label>
	</div>
	<p>Stijn Buysstraat 15a<br />
	6512 CK Nijmegen<br />
	Nederland</p>
	<a href="">> Ander bezorgadres kiezen</a>
	<div class="radio">
  		<label>
    		<input type="radio" name="deliveryType" id="PostNL" value="PostNL">
    		<strong>Afhalen bij een ophaalpunt bij u in de buurt</strong>
  		</label>
	</div>
	<div class="form-group">
    	<label for="deliveryDate">Bezorg datum</label>
    	<input type="date" class="form-control" id="deliveryDate" placeholder="dd-mm-yyyy">
  	</div>
	<div class="pull-right">
    	<a class="btn btn-default" ng-click="OnProceedToPayment($event)">
        	<span class="glyphicon glyphicon-credit-card"></span> 
        	Afrekenen
    	</a>
	</div>
</form>