<h2>Betalen</h2>
<form name="orderPayment" ng-submit="ProceedToConfirmation()">
	<div class="jumbotron">
	  	<div class="container">
 			<div class="radio">
  				<label>
    				<input type="radio" name="paymentOption" id="home" value="30days" checked ng-click="SetPaymentOption('30Days')">
					<strong>Betaal binnen 30 dagen na het plaatsen van uw order. Wij sturen hiervoor een acceptgiro mee.</strong>
	  			</label>
			</div>
	  	</div>
	</div>
	<div class="jumbotron">
	  	<div class="container">
	  		<div class="radio">
  				<label>
    				<input type="radio" name="paymentOption" id="home" value="IDeal" checked ng-click="SetPaymentOption('IDeal')">
					<strong>Betaal direct met behulp van IDeal.</strong>
	  			</label>
			</div>
			Selecteer uw bank
			<select class="form-control" ng-model="payment.bank"
                ng-options="obj.id as obj.name for obj in banks">
	        </select>
			{{ payment.bank }}
	  	</div>
	</div>
	<div class="pull-right">
		<input type="submit" id="submit" value="Bestelling afronden" />
	</div>
</form>