<div class="contentContainer" ng-controller="cookieDesignController">
    <h1>
        <img src="images/titleTriangle.png">Ontwerp je eigen koekje</h1>
    <ul class="optionsCookie">
        <li style="height:25px; margin-left:110px;">
            <a class="ruitButton" href="#">Opslaan</a>&nbsp;&nbsp;
            <img src="images/ruit-icon.png">
        </li>
        </span>        
        <li class="optieVorm">
            <a href="#"></a>
        </li>
        <li class="optieDeeg">
            <a href="#"></a>
        </li>
        <li class="optieVulling">
            <a href="#"></a>
        </li>
        <li class="optieTopping">
            <a href="#"></a>
        </li>
    </ul>
    <span style="float:left; height:20px; margin-left:15px;">
        <a class="ruitButton" href="#">Bekijk ingredienten</a>&nbsp;&nbsp;
        <img src="images/ruit-icon.png">
    </span>
    <form class="nameCookieform">
        <input type="text" class="nameCookie" name="txtCookiename" id="txtCookiename" ng-model="cookieName" placeholder="Naam koekje">
        <input type="submit" class="knopSave" value="ok">
        <img src="images/ruit-icon.png" style="margin:2px 0 0 -2px;">
    </form>
    <p style="height:25px;"></p>
    <div class="cookieDesign">
        <ul class="choicesBox">
            <li>
                <h1>Het deeg</h1>
            </li>
            <li class="keuze" data-ng-repeat="option in currentLayer.options">
                <a href="#">
                    <img class="keuze" ng-src="images/{{option.imageSrc}}" ng-alt="{{option.description}}" data-id="{{option.name}}" ng-click="onLayerOptionClicked(option, $event)">
                </a>
            </li>
        </ul>
        <div class="cookieLoad">
            <img class="vormLayer" style="z-index:4;" src="images/cookieLayer/bloemLayer.png" width="400" height="370" />
            <!--<img class="deegLayer" style="z-index:1;" src="images/cookieLayer/vanilleLayer.png" width="390" height="370"/>-->
            <img class="vullingLayer" style="z-index:2;" src="images/cookieLayer/havermoutRozijnLayer.png" width="390" height="370">
            <img class="toppingLayer" style="z-index:3;" src="images/cookieLayer/pecannotenLayer.png" width="390" height="370">
        </div>
        <p class="bedrag">&euro;0,00</p>
    </div>
    <p style="height:40px; width:500px; float:left;"></p>
    <div class="brownBar"></div>
    <a class="nextBtn" href="#">Toevoegen winkelwagen</a>
</div>