<img src="img/introtext.png" />

<div ng-controller="cookieDesignController">
    <h1><img src="img/titleTriangle.png">Ontwerp je eigen koekje</h1>
    
    <div class="optionsCookie">
        <a href="#" data-ng-repeat="layer in layers" ng-click="onLayerClicked(layer._id, $event)">
            <div class="optionBox" style="background:url(img/layer/{{layer.imageSrc}}); width:222px; height:129px;">
                <span class="optionText" ng-show="layer.name !== currentLayer.name">{{layer.name}}</span>
                <span class="optionTextSelect" ng-show="layer.name === currentLayer.name">{{layer.name}}</span>
                <div class="overlayBox" ng-show="layer.name !== currentLayer.name"></div>
                <div class="optionSelect" ng-show="layer.name === currentLayer.name"></div>
            </div>
        </a>
    </div>
    <span style="width:70px; height:10px; margin-left:195px;"></span>
    <form class="inline-form">
        <div class="form-group">
            <div style="float: left; margin-left: 15px; width: 483px;">
                <input type="text" class="form-control" style="width:100% !important;" name="txtCookieName" id="txtCookieName" ng-model="cookieName" placeholder="Geef je koekje een naam..."  />
            </div>
            <div style="float: left; margin-left: 20px; width: 80px;">
                <a ng-click="save(cookieName)" class="btn btn-primary" ng-show="showSaveButton">
                    <span class="glyphicon glyphicon-ok"></span> 
                    Opslaan
                </a>
            </div>
        </div>
    </form>
    <br />
    <div class="cookieDesign">
        <div class="choiceContainer">
            <span>
                <h1>{{currentLayer.name}}</h1>
            </span>
            <a href="#" data-ng-repeat="option in currentLayer.options" data-id="{{option.name}}" ng-click="onLayerOptionClicked(option, $event)">
                <div class="choiceBox" style="background-image:url(img/layeroption/{{option.imageSrc}}); width:150px; height:90px;">
                    <div class="overlayChoice"> <!-- TODO: choiceSelect if selected -->
                        <span class="keuzeText">{{option.name}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="cookieLoad">
            <img class="layers" style="z-index:4;" src="img/layeroption/cookie/rond.png" width="400" height="370" />
            <img class="layers" style="z-index:1;" src="img/layeroption/cookie/vanille.png" width="390" height="370" />
            <img class="layers" style="z-index:2;" src="img/layeroption/cookie/havermoutrozijn.png" width="390" height="370">
            <img class="layers" style="z-index:3;" src="img/layeroption/cookie/pecannoten.png" width="390" height="370">
            <span class="displayKeuze">
                <p style="padding:5px; background:#FFF;">Pecannoten
                    <img src="img/questionmark.png" style="margin-top:-4px">
                </p>
                <p class="displayDuurzaam">Dit is een duurzame keuze.
                    <br>Het ingredi&euml;nt komt per vrachtschip uit de Verenigde Staten.</p>
            </span>
        </div>
        <p class="bedrag">{{total | currency : "€"}}</p>
    </div>
    <p style="height:5px; width:500px; float:left;"></p>
    <div class="brownBar" style="width:620px;"></div>
    <a class="nextBtn" ng-click="onProceedClicked(cookieName, $event)">Toevoegen winkelwagen</a>
    <p style="height:20px; width:500px; float:left;"></p>