<h2>Cookie</h2>


<form name="cookieForm">

    <p>Id: <input type="text" data-ng-model="cookies.doc._id" readonly></p>

    <p>Name: <input type="text" data-ng-model="cookies.doc.name"></p>

    <p>Creator: <input type="text" data-ng-model="cookies.doc.creator"></p>

    <div ng-repeat="layer in cookies.doc.layers">

        <p> Layers: <input type="text" data-ng-model="layer.name"></p>

        <div ng-repeat="option in layer.options">

            <p> Option: <input type="text" data-ng-model="option.name"></p>

        </div>

    </div>

    <button type="button" data-ng-click="delete()" id="deleteBtn">Delete</button>

    <button type="button" data-ng-click="save()" id="saveBtn">Save
    </button>


</form>

